$font-family-base: 'Nunito Sans', sans-serif;
$font-weight-bolder: 900;
$nav-link-color: #000000;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1280px
);
$primary: #1492E6;
$secondary: #615C5C;
$h1-font-size: 40px;
$h2-font-size: 35px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;
$font-sizes: (
        1: 28px,
        2: 24px,
        3: 21px,
        4: 16px,
        5: 18px,
        6: 13px
);

$box-shadow: 0 3px 6px #00000029;
$box-shadow-lg: 0 3px 6px #00000029;
$box-shadow-sm: 0 3px 6px #00000029;